﻿@model Üyeler

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Üyeler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ÜyeAdiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ÜyeAdiSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullanıcıAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullanıcıAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParolaTekrar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParolaTekrar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ÜyeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
