﻿@model List<Üyeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:220px ; padding-right:200px">
                <h1 class="page-header">
                    Kütüphane   <small>Admin Paneli</small>
                </h1>
                <p>
                    @Html.ActionLink("Yeni Üye Ekle", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Web_Proke.Resources.lang.ad_soyad
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.telefon
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.kayıt_tarihi
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.e_posta
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.kullanıcı_adı
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.parola
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.parola_tek
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ÜyeAdiSoyadi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelefonNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KayitTarihi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.a_mail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KullanıcıAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Parola)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParolaTekrar)
                            </td>
                            <td>
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.ÜyeID }) |
                                @Html.ActionLink("Sil", "Delete", new { id = item.ÜyeID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
