﻿@model Web_Proke.Models.Calisanlar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calisanlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CalisanAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalisanAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalisanSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalisanSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_posta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_posta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ünvani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ünvani)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CalisanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
