﻿@model List<Calisanlar>

@{
    ViewBag.Title = "Index";
}

<h2>@Web_Proke.Resources.lang.calisanlar</h2>


<table class="table">
    <tr>
        <th>
            @Web_Proke.Resources.lang.cal_ad
        </th>
        <th>
            @Web_Proke.Resources.lang.cal_soyad
        </th>
        <th>
           @Web_Proke.Resources.lang.e_posta
        </th>
        <th>
            @Web_Proke.Resources.lang.telefon
        </th>
        <th>
           @Web_Proke.Resources.lang.görev
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CalisanAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalisanSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.e_posta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ünvani)
        </td>
     
    </tr>
}

</table>
