﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/AdminPanel/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Areas/AdminPanel/Content/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Areas/AdminPanel/Content/plugings/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Areas/AdminPanel/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">


                <li id="adminuye">@Html.Partial("_LoginPartial")</li>
                
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">


                    <li>
                        @Html.ActionLink("Admin Ekle", "Create", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Yayın Ekle", "Create", "AdminKatalog")
                    </li>
                    <li>
                        @Html.ActionLink("Duyuru Ekle", "Create", "AdminDuyurular")
                    </li>
                    <li>
                        @Html.ActionLink("Üye Ekle", "Create", "AdminÜyeler")
                    </li>

                    <li>
                        @Html.ActionLink("Çalışan Ekle", "Create", "AdminCalisanlar")
                    </li>
                    <li>
                        @Html.ActionLink("Konum Ekle", "Create", "AdminKonum")
                    </li>

                    <li>
                        @Html.ActionLink("Adminleri Görüntüle", "Index", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Yayınları Görüntüle", "Index", "AdminKatalog")
                    </li>
                  
                    <li>
                        @Html.ActionLink("Üyeleri Görüntüle", "Index", "AdminÜyeler")
                    </li>

                    <li>
                        @Html.ActionLink("Çalışanları Görüntüle", "Index", "AdminCalisanlar")
                    </li>
                  


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
       




        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->

    @RenderBody()
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Areas/AdminPanel/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/AdminPanel/Scripts/bootstrap.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Areas/AdminPanel/Scripts/plugins/morris/raphael.min.js"></script>
    <script src="~/Areas/AdminPanel/Scripts/plugins/morris/morris.min.js"></script>
    <script src="~/Areas/AdminPanel/Scripts/plugins/morris/morris-data.js"></script>
</body>
</html>
