﻿@model Katalog

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:220px ; padding-right:200px">
                <h1 class="page-header">
                    Kütüphane   <small>Admin Paneli</small>
                </h1>
                <dl class="table">
                    <dt>
                        @Html.DisplayNameFor(model => model.YayinAdı)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.YayinAdı)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.KonuBasliklari)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KonuBasliklari)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tür)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tür)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.YayinBilgisi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.YayinBilgisi)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FizikselNitelik)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FizikselNitelik)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ISBN_ISSN)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ISBN_ISSN)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Konum1.Durum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Konum1.Durum)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.KatalogID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
            </div>
        </div>
    </div>
