﻿@model List<Katalog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}



<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-xs-10" style="margin-left:200px ; padding-right: 0px">
                <h1 class="page-header">
                    Kütüphane   <small>Admin Paneli</small>
                </h1>
                <p>
                    @Html.ActionLink("Yeni Katalog Ekle", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Web_Proke.Resources.lang.yayın_adı
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.kon_bas
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.tür
                        </th>
                        <th>
                         @Web_Proke.Resources.lang.yay_bil
                        </th>
                        <th>
                           @Web_Proke.Resources.lang.fiz_nitelik
                        </th>

                        <th>
                            @Web_Proke.Resources.lang.dolap_kodu
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.raf_no
                        </th>
                       < th>
                        @Web_Proke.Resources.lang.raf_sıra
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.YayinAdı)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KonuBasliklari)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tür)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.YayinBilgisi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FizikselNitelik)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Konum.DolapKodu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Konum.RafNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Konum.RafSira)
                            </td>
                            <td>
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.KatalogID }) |                                
                                @Html.ActionLink("Sil", "Delete", new { id = item.KatalogID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
