﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SAÜ-K</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/Kutuphane.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">

</head>
<body style="margin:0px ; padding:0px">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  (0.264) 295 53 58</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">


                        <div class="social" style="float:right">

                            <ul class="social-share" style="float:left ; margin-right:10px ; margin-left:20px">

                                <li><a href="https://www.facebook.com/pages/Sakarya-Universitesi-Süleyman-Demirel-Kütüphanesi/298652226827840?fref=ts"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/kutuphaneSAU"><i class="fa fa-twitter"></i></a></li>

                            </ul>
                            @*@using (Html.BeginForm("Kitaplar", "Katalog", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
                            
                                @Html.AntiForgeryToken()
                                <div class="search" style="float:left ; margin-right:30px">
                                    <form role="form">
                                        <input type="text" class="search-form" autocomplete="on" placeholder="Search">
                                        <i class="fa fa-search"></i>
                                    </form>
                                </div>
                            
                            <ul class="social-share" style="float:left">

                                <li>
                                    @Html.ActionLink("En", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Tr", "ChangeCulture", "Home", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)

                                </li>
                            </ul>

                        </div>

                    </div>
                    <span style="margin-left:200px" ; margin-right:10px">@Html.Partial("_LoginPartial")</span>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink(Web_Proke.Resources.lang.anasayfa, "Index", "Home")</li>
                        <li>@Html.ActionLink(Web_Proke.Resources.lang.hakkımızda, "Hakkımızda", "Home")</li>
                        <li>@Html.ActionLink(Web_Proke.Resources.lang.personel, "Index", "Calisanlar")</li>
                        <li>@Html.ActionLink(Web_Proke.Resources.lang.fotograf, "Fotograf", "Home")</li>
                        <li>@Html.ActionLink(Web_Proke.Resources.lang.cal_saat, "CalismaSaatleri", "Home")</li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Web_Proke.Resources.lang.c19<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(Web_Proke.Resources.lang.kitap, "Kitaplar", "Katalog")</li>
                                <li>@Html.ActionLink(Web_Proke.Resources.lang.ansiklopedi, "Ansiklopediler", "Katalog")</li>
                                <li>@Html.ActionLink(Web_Proke.Resources.lang.makale, "Makaleler", "Katalog")</li>
                                <li>@Html.ActionLink(Web_Proke.Resources.lang.dergi, "Dergiler", "Katalog")</li>
                                <li>@Html.ActionLink(Web_Proke.Resources.lang.digital_kayit, "DigitalKayitlar", "Katalog")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink(Web_Proke.Resources.lang.iletisim, "İletisim", "Home")</li>

                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->


    @RenderBody()

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; @DateTime.Now.Year <a target="_blank" href="http://www.kutuphane.sakarya.edu.tr/" title="Sakarya Üniversitesi"</a>@Web_Proke.Resources.lang.i27
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li>@Html.ActionLink(Web_Proke.Resources.lang.anasayfa, "Index", "Home")</li>
                        <li>@Html.ActionLink(Web_Proke.Resources.lang.hakkımızda, "Hakkımızda", "Home")</li>
                        <li>@Html.ActionLink(Web_Proke.Resources.lang.fotograf, "Fotograf", "Home")</li>
                        <li>@Html.ActionLink(Web_Proke.Resources.lang.iletisim, "İletisim", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
</body>
</html>
