﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="navbar- ">
        @if (User.Identity.GetUserName() == "admin1@admin.com")
        {
            <li>
                <a href="AdminPanel\AdminHome\Index">Admin</a>
            </li>

        }
        <li id="uye" style="margin-right:15px">
            @Html.ActionLink("Merhaba " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

        </li>
  
        <li style="float:left ; list-style:none ; color:white">|</li>
        <li style="margin-left:15px" id="uye"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="padding : 10px ; margin : 10px ; height : 0px ; margin-top : -10px  ">
        <li id="uyelik">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li id="uyelik">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
