﻿@model List<Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:220px ; padding-right:400px">
                <h1 class="page-header">
                    Kütüphane   <small>Admin Paneli</small>
                </h1>
                <p>
                    @Html.ActionLink(" Yeni Admin Ekle", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Web_Proke.Resources.lang.kullanıcı_adı
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.e_posta
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.parola
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.ad
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.soyad
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.kayıt_tarihi
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.KullaniciAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.e_posta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Parola)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Soyadi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KayitTarihi)
                            </td>
                            <td>
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.AdminID }) 
                                @Html.ActionLink("Sil", "Delete", new { id = item.AdminID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>