﻿
@{
    Layout = null;
}

<!DOCTYPE html>

@model Web_Proke.Models.Üyeler
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Kişi Ekle</legend>
        <div>
            @Html.LabelFor(p => p.ÜyeAdiSoyadi)
        </div>
        <div>
            @Html.TextBoxFor(p => p.ÜyeAdiSoyadi)
        </div>
        <div>
            @Html.LabelFor(p => p.KullanıcıAdi)
        </div>
        <div>
            @Html.TextBoxFor(p => p.KullanıcıAdi)
        </div>
        <div>
            @Html.LabelFor(p => p.a_mail)
        </div>
        <div>
            @Html.TextBoxFor(p => p.a_mail)
        </div>
        <div>
            @Html.LabelFor(p => p.TelefonNo)
        </div>
        <div>
            @Html.TextBoxFor(p => p.TelefonNo)
        </div>
        <div>
            @Html.LabelFor(p => p.Parola)
        </div>
        <div>
            @Html.TextBoxFor(p => p.Parola)
        </div>
        <div>
            @Html.LabelFor(p => p.ParolaTekrar)
        </div>
        <div>
            @Html.TextBoxFor(p => p.ParolaTekrar)
        </div>
        <input type="submit" value="Ekle" />

    </fieldset>
}
<h2><a href="~/Home/Index">Anasayfa</a></h2>