﻿@model  List<Katalog>

@{
    ViewBag.Title = "Index";
    int toplam_dergi = 0;
}

<h2>@Web_Proke.Resources.lang.dergiler</h2>

<table class="table table-striped">
    <tr>
        <th>

            @Web_Proke.Resources.lang.yayın_adı
        <th>
            @Web_Proke.Resources.lang.kon_bas
        </th>
        <th>
            @Web_Proke.Resources.lang.tür
        </th>
        <th>
            @Web_Proke.Resources.lang.yay_bil
        </th>
        <th>
            @Web_Proke.Resources.lang.fiz_nitelik
        </th>
        <th>
            @Web_Proke.Resources.lang.dolap_kodu
        </th>
        <th>
            @Web_Proke.Resources.lang.raf_no
        </th>
        <th>
            @Web_Proke.Resources.lang.raf_sıra
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        toplam_dergi++;
        <tr>
            <td>
                @toplam_dergi-      @Html.DisplayFor(modelItem => item.YayinAdı)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KonuBasliklari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tür)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayinBilgisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FizikselNitelik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Konum.DolapKodu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Konum.RafNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Konum.RafSira)
            </td>
        </tr>
    }

</table>


