﻿@model Duyurular

@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}


    <div>
        <h4>Duyurular</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DuyuruKonusu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DuyuruKonusu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Duyuru)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Duyuru)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DuyuruTarihi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DuyuruTarihi)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DuyuruID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

