﻿@model List<Duyurular>

@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:220px ; padding-right:200px">
                <h1 class="page-header">
                    Kütüphane   <small>Admin Paneli</small>
                </h1>
                <p>
                    @Html.ActionLink("Yeni Duyuru Ekle ", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                         @Web_Proke.Resources.lang.duyuru_konu
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.duyuru
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.duyuru_tarih
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DuyuruKonusu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duyuru)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DuyuruTarihi)
                            </td>
                            <td>
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.DuyuruID })                                 
                                @Html.ActionLink("Sil", "Delete", new { id = item.DuyuruID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>