﻿@model List<Calisanlar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:220px ; padding-right:200px">
                <h1 class="page-header">
                    Kütüphane   <small>Admin Paneli</small>
                </h1>
                <p>
                    @Html.ActionLink("Yeni Çalışan Ekle", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                           @Web_Proke.Resources.lang.cal_ad
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.cal_soyad
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.e_posta
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.telefon
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.görev
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CalisanAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CalisanSoyadi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.e_posta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ünvani)
                            </td>
                            <td>
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.CalisanID }) |
                                @Html.ActionLink("Sil", "Delete", new { id = item.CalisanID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>