﻿
@{
    ViewBag.Title = "Çalışma Saatleri";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@Web_Proke.Resources.lang.c1 | @Web_Proke.Resources.lang.i18</title>

    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>@Web_Proke.Resources.lang.c2</h2>
            <p class="lead">   @Web_Proke.Resources.lang.c3 >	@Web_Proke.Resources.lang.c5</p>
            <p class="lead">   @Web_Proke.Resources.lang.c4 >   @Web_Proke.Resources.lang.c6</p>
            <p class="lead">
                <b>@Web_Proke.Resources.lang.c7 </b><br />@Web_Proke.Resources.lang.c8.<br>
                <b> @Web_Proke.Resources.lang.c9 </b><br />
                @Web_Proke.Resources.lang.c10.<br />
                @Web_Proke.Resources.lang.c11.<br />
                @Web_Proke.Resources.lang.c12.<br />
                @Web_Proke.Resources.lang.c13.<br />
                @Web_Proke.Resources.lang.c14.<br />
                @Web_Proke.Resources.lang.c15.<br />
                @Web_Proke.Resources.lang.c16.<br />
                @Web_Proke.Resources.lang.c17.<br />
            </p>
        </div>

    </section><!--/#blog-->


    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
</body>
</html>
