﻿
@{
    ViewBag.Title = "Fotograf";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fotoğraflar | @Web_Proke.Resources.lang.i18</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>

    <section id="portfolio">
        <div class="container">
            <div class="center">
                <h2>@Web_Proke.Resources.lang.f1</h2>
                <p class="lead">@Web_Proke.Resources.lang.f2.</p>
            </div>

            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">@Web_Proke.Resources.lang.f3</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".bootstrap">@Web_Proke.Resources.lang.f4</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".html">@Web_Proke.Resources.lang.f5 </a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">@Web_Proke.Resources.lang.f6</a></li>
            </ul><!--/#portfolio-filter-->
            <div class="row">
                <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/item1.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>

                                    <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"></a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/item2.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>

                                    <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"></a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/item3.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>
                                    <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"></a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/item4.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>
                                    <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"></a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/item5.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18</a></h3>
                                    <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"></a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/item6.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>
                                    <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"></a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/item7.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>
                                    <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"></a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/item8.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18</a></h3>
                                    <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"></a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        
                    </div><!--/.portfolio-item-->
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->



    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
</body>
</html>

