﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SAÜ | @Web_Proke.Resources.lang.i18</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body class="homepage">

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/slider/bg1.jpg)">

                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">@Web_Proke.Resources.lang.kddb</h1>
                                    <h2 class="animation animated-item-2">@Web_Proke.Resources.lang.i1..</h2>

                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="~/images/slider/img1.png" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--/.item-->

                <div class="item" style="background-image: url(images/slider/bg2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">@Web_Proke.Resources.lang.kddb</h1>
                                    <h2 class="animation animated-item-2">@Web_Proke.Resources.lang.i1..</h2>

                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">@Web_Proke.Resources.lang.kddb</h1>
                                    <h2 class="animation animated-item-2">@Web_Proke.Resources.lang.i1..</h2>

                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="images/slider/img3.png" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->

    </section><!--/#main-slider-->
    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>@Web_Proke.Resources.lang.i2</h2>
                <p class="lead">@Web_Proke.Resources.lang.i3:<br> @Web_Proke.Resources.lang.i8</p>
                <p class="lead">@Web_Proke.Resources.lang.i4:<br> @Web_Proke.Resources.lang.i9</p>
                <p class="lead">@Web_Proke.Resources.lang.i5 :<br>@Web_Proke.Resources.lang.i10</p>
                <p class="lead">@Web_Proke.Resources.lang.i6 :<br>@Web_Proke.Resources.lang.i11</p>
                <p class="lead">@Web_Proke.Resources.lang.i7 :<br>@Web_Proke.Resources.lang.i12</p>

            </div>

        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>@Web_Proke.Resources.lang.i13</h2>
                <p class="lead">@Web_Proke.Resources.lang.i14; <br> @Web_Proke.Resources.lang.i15<br>@Web_Proke.Resources.lang.i16</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">

                                <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18</a></h3>
                                <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">

                                <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>
                                <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>

                                <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18</a></h3>
                                <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18</a></h3>
                                <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>
                                <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18</a></h3>
                                <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#"><br />@Web_Proke.Resources.lang.i17<br />@Web_Proke.Resources.lang.i18 </a></h3>
                                <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->


    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 wow fadeInDown">
                    <div class="tab-wrap">
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">@Web_Proke.Resources.lang.i19</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">@Web_Proke.Resources.lang.i19</a></li>

                                </ul>
                            </div>
                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                            <div class="pull-left">

                                            </div>
                                            <div class="media-body">

                                                <p>
                                                    @ViewBag.duyuru1
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                            <div class="pull-left">

                                            </div>
                                            <div class="media-body">

                                                <p>
                                                    @ViewBag.duyuru2
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div> <!--/.tab-content-->
                            </div> <!--/.media-body-->
                        </div> <!--/.media-->
                    </div><!--/.tab-wrap-->
                </div><!--/.col-sm-6-->

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>@Web_Proke.Resources.lang.i21</h2>
                <p class="lead">@Web_Proke.Resources.lang.i22 <br> @Web_Proke.Resources.lang.i23..</p>
            </div>
            <div class="partners">

            </div>
        </div><!--/.container-->
    </section><!--/#partner-->
    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>@Web_Proke.Resources.lang.i24?</h2>
                            <p>@Web_Proke.Resources.lang.i25 & @Web_Proke.Resources.lang.i26 = Tel : +90.264.295 53 58  Faks : +90.264.295 53 52 <br /> e-posta = kutuphane@sakarya.edu.tr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#conatcat-info-->



    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
</body>
</html>