﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SAÜ | @Web_Proke.Resources.lang.d1</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>



    <section id="contact-info">
        <div class="center">
            <h2>@Web_Proke.Resources.lang.d2?</h2>
            <p class="lead"></p>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
                            <iframe src="https://maps.google.com/maps?f=q&amp;sll=40.7413932,30.3321382&amp;sspn=40.7413932,30.3321382&amp;ie=UTF8&amp;hq=Süleyman+Demirel+Kütüphanesi,&amp;hnear=Dhaka,+Dhaka+Division,+Turkey&amp;ll=40.7413932,30.3321382&amp;spn=0.001515,0.002452&amp;t=m&amp;z=18&amp;iwloc=A&amp;cid=0x5cbf292d4eca1096&amp;output=embed"></iframe>
                        </div>
                    </div>

                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-6">
                                <address>
                                    <h5>@Web_Proke.Resources.lang.d4</h5>
                                    <p>
                                        @Web_Proke.Resources.lang.d3  <br>
                                        Serdivan/Sakarya
                                    </p>
                                    <p>
                                        Tel : +90.264.295 53 58<br>
                                        E-posta Adresi:kutuphane@sakarya.edu.tr <br>  Faks : +90.264.295 53 52
                                        <br />
                                    </p>
                                </address>


                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->

    <section id="contact-page">
        <div class="container">
            <div class="center">
                <h2>@Web_Proke.Resources.lang.d5 </h2>
                <p class="lead">@Web_Proke.Resources.lang.d6.</p>
            </div>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label>@Web_Proke.Resources.lang.d7*</label>
                            <input type="text" name="name" class="form-control" required="required">
                        </div>

                        <div class="form-group">
                            <label>@Web_Proke.Resources.lang.d8</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>E-mail *</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>@Web_Proke.Resources.lang.d9 *</label>
                            <input type="text" name="subject" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>@Web_Proke.Resources.lang.d10 *</label>
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Mesajı Gönder</button>
                        </div>
                    </div>
                </form>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->





    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
</body>
</html>