﻿@model Konum

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:220px ; padding-right:200px">
                <h1 class="page-header">
                    Kütüphane   <small>Admin Paneli</small>
                </h1>
                <div>
                    <h4>Konum</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DolapKodu)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DolapKodu)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RafNo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RafNo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RafSira)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RafSira)
                        </dd>

                    
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Sil" class="btn btn-default" /> |
                            @Html.ActionLink("Geriye Dön", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>