﻿@model Konum

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Konum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DolapKodu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DolapKodu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RafNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RafNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RafSira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RafSira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KonumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
