﻿@model List<Konum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" style="margin-left:220px ; padding-right:600px">
                <h1 class="page-header">
                    Kütüphane   <small>Admin Paneli</small>
                </h1>
                <p>
                    @Html.ActionLink("Yeni Konum Ekle", "Create")
                </p>
                <table class="table">
                    <tr>
                      
                        <th>
                            @Web_Proke.Resources.lang.dolap_kodu
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.raf_no
                        </th>
                        <th>
                            @Web_Proke.Resources.lang.raf_sıra
                        </th>
                    
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.DolapKodu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RafNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RafSira)
                            </td>

                            <td>
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.KonumID }) |
                                @Html.ActionLink("Sil", "Delete", new { id = item.KonumID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>